body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

header {
    background-color: #CEACA1;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}


header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    right: 1%;
}

header nav ul li a:hover {
    color: #A17F7A;
}
.container {
    width: 60%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

textarea {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #CEACA1;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #A17F7A;
}

.star-rating {
    display: flex;
    gap: 5px;
}

.star {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.star.checked {
    color: #CEACA1;
}

#nameFields {
    margin-top: 10px;
}

.confirmation-message {
    margin-top: 15px;
    font-size: 1rem;
    color: #CEACA1;
}
