/*Ednostaven stil*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CEACA1;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


h1, h2, h3 {
    color: #333;
    margin-bottom: 15px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
    margin-top: 15px;
}
 
p {
    margin-bottom: 15px;
    text-align: justify;
}

ul, ol {
    margin-bottom: 15px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}


a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


.section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 1.25em;
    font-weight: bold;
    color: #4a4a4a;
    margin-top: 25px;
}


.footer {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 30px;
    padding: 15px 0;
    border-top: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0073e6;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #005bb5;
}
